body {
    background-color: #EEEBDD;
}

/* navigation and links */
.navbar, .navbar-expand-lg {
    background-color: #964F4C !important;
    color: #fff !important;
    --bs-navbar-color: #fff !important;
    --bs-navbar-active-color: #fff !important;
    --bs-navbar-hover-color: #e2dcdc !important;
    --bs-navbar-brand-color: #fff !important;
    --bs-navbar-brand-hover-color: #e2dcdc !important;
    justify-content: center !important;
    --bs-navbar-toggler-icon-bg: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);
}

a {
    text-decoration: none;
    color: #6F3826;
}

.nav-link active {
    font-weight: 800 !important;
}

.navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
  }

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


/* containers */
.container-fluid {
    padding: 0 !important;
}

.icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: .75rem;
}

/* headers */

h1 {
    font-family: "Rethink Sans", sans serif;
}

h2, h3, h4, h5, h6 {
    font-family: "Quicksand", sans serif;
}

.text-body-emphasis {
    font-family: "Quicksand", sans serif;
}

.site-title {
       color: black;
       transition: color 0.3s ease;
       font-family: "Rethink Sans", sans serif;
   }

.site-title:hover {
       color:#65312E;
       cursor: pointer;
       text-decoration: 0.5rem #65312E underline;
   }

.site-intro {
    color: black;
    transition: color 0.3s ease;
    font-family: "Rethink Sans", sans serif;
}

.site-intro:hover {
    color: #964F4C;
    cursor: pointer;
}

.site-intro-container:hover {
    cursor: default;
}

/* buttons */
.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #964F4C;
    --bs-btn-border-color: #964F4C;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #65312E;
    --bs-btn-hover-border-color: #65312E;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #65312E;
    --bs-btn-active-border-color: #65312E;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #964F4C;
    --bs-btn-disabled-border-color: #964F4C;
}

.btn-secondary {
    --bs-btn-color: #000;
    --bs-btn-bg: none;
    --bs-btn-border-color: #964F4C;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #fff;
    --bs-btn-hover-border-color: #65312E;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #fff;
    --bs-btn-active-border-color: #fff;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: none;
    --bs-btn-disabled-border-color: #fff;

}
